# Токен бота від @BotFather (https://t.me/botfather)
BOT_TOKEN=123456789:AAExampleTelegramBotToken
# Числовий Telegram ID адміністратора, від @userinfobot (https://t.me/userinfobot)
ADMIN_ID=123456789
